/*........................................Heading*/

div h3 {
    text-align: center;
    background-color: #2a690dd7;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-style: bold;
    margin-bottom: 30px;
}



.cta-heading {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 30px;
    font-weight: 600;
    padding: 20px;
    background-color: #2a690dd7;
    text-align: center;
}

.cta-sub-heading {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-style: bold;
    padding: 20px;
    text-align: center;

}

.jumbotron {
    background-color: transparent;
    text-align: center;
}

.cta-span {
 background-color: silver;
 padding: 5px;
 margin: 10px;
 text-align: center;
 
}

.cta-hero-img {
    background-image: url(/assets/IMGs/Kawasaki-Ninja-H2-2019.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    
    max-width: 100%;
    height: auto;
}

.cta-sign-up-btn {
    position: relative;
    text-align: center;
    background-color: #2a690d;
    margin-bottom: 30px;
    
}

.cta-box {
    text-align: center;
}

/*........................................Features*/

.Features {
    background-color: rgb(139, 133, 133);
    max-height: 100%;
    max-width: 100%;
    text-align: center;
    border: 2px;
    border-color: lightblue;
}

.feature-heading {
    margin-top: 10px;
}